In [54]:
# Importamos las librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns   
import warnings
warnings.filterwarnings("ignore")

In [55]:
# Cargamos el dataset
df_metrics = pd.read_csv('metrics.csv')
df_stores = pd.read_csv('stores.csv')

In [56]:
# Mostramos las primeras filas del dataset
df_metrics.head()

,store_id,month,is_food,total_orders,delivered_orders,bad_rating_orders,bad_rating_orders_due_to_courier,bad_rating_orders_due_to_partner,total_gmv,rpo_eur,...,delivery_time_below_30,delivery_time_below_45,users,recurrent_customers,retention_28_days,amoru,delivered_bundled_orders,delivered_orders_with_discount,sum_balance_discount_eur,average_rating
0,196105,2020-06,Yes,12,11,2,0,2.0,194.097000,5.532735,...,1,6,12,11,0.363636,1.000000,0,0,0.000,0.818182
1,196148,2020-06,Yes,1,0,0,0,0.0,0.000000,0.000000,...,0,0,1,1,NaN,NaN,0,0,0.000,NaN
2,194503,2020-06,Yes,14,13,1,0,1.0,131.805000,5.050955,...,6,12,10,8,0.692308,1.375000,0,0,0.000,0.923077
3,199178,2020-06,Yes,6,6,0,0,0.0,61.116386,3.448538,...,4,4,5,5,1.000000,1.200000,0,0,0.000,1.000000
4,194898,2020-06,Yes,14,13,0,0,0.0,231.159000,8.391913,...,9,13,13,12,0.923077,1.090909,0,12,52.686,1.000000

In [57]:
# Mostramos las primeras filas del dataset
df_stores.head()

,region,country_code,menu_split_store_id,creation_date,mother_brand_store_id,store_segment,tags
0,EEMEA,KZ,231405,2020-10-29,147598,Long Tail,Turkish
1,EEMEA,UA,311975,2021-05-27,216498,Long Tail,Sweets
2,SWE,PL,246038,2020-12-07,117980,Long Tail,Polish
3,SWE,IT,292770,2021-04-15,288500,Long Tail,Food
4,SWE,ES,300967,2021-05-03,298416,Long Tail,Food

In [58]:
# Mostramos la info de cada dataset
df_metrics.info()
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51931 entries, 0 to 51930
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   store_id                          51931 non-null  int64
 1   month                             51931 non-null  object
 2   is_food                           51931 non-null  object
 3   total_orders                      51931 non-null  int64
 4   delivered_orders                  51931 non-null  int64
 5   bad_rating_orders                 51931 non-null  int64
 6   bad_rating_orders_due_to_courier  51931 non-null  int64
 7   bad_rating_orders_due_to_partner  51931 non-null  float64
 8   total_gmv                         51931 non-null  float64
 9   rpo_eur                           51931 non-null  float64
 10  cpo_eur                           51931 non-null  float64
 11  prep_time                         37530 non-null  float64
 12  waiting_time                      37542 non-null  float64
 13  delivery_time                     48063 non-null  float64
 14  delivery_time_below_30            51931 non-null  int64
 15  delivery_time_below_45            51931 non-null  int64
 16  users                             51931 non-null  int64
 17  recurrent_customers               51931 non-null  int64
 18  retention_28_days                 45790 non-null  float64
 19  amoru                             45614 non-null  float64
 20  delivered_bundled_orders          51931 non-null  int64
 21  delivered_orders_with_discount    51931 non-null  int64
 22  sum_balance_discount_eur          51931 non-null  float64
 23  average_rating                    48063 non-null  float64
dtypes: float64(11), int64(11), object(2)
memory usage: 9.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11360 entries, 0 to 11359
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   region                 11360 non-null  object
 1   country_code           11360 non-null  object
 2   menu_split_store_id    11360 non-null  int64
 3   creation_date          11360 non-null  object
 4   mother_brand_store_id  11360 non-null  int64
 5   store_segment          11360 non-null  object
 6   tags                   11360 non-null  object
dtypes: int64(2), object(5)
memory usage: 621.4+ KB

In [59]:
# Mostramos los valores nulos de cada dataset
df_metrics.isnull().sum()

store_id                                0
month                                   0
is_food                                 0
total_orders                            0
delivered_orders                        0
bad_rating_orders                       0
bad_rating_orders_due_to_courier        0
bad_rating_orders_due_to_partner        0
total_gmv                               0
rpo_eur                                 0
cpo_eur                                 0
prep_time                           14401
waiting_time                        14389
delivery_time                        3868
delivery_time_below_30                  0
delivery_time_below_45                  0
users                                   0
recurrent_customers                     0
retention_28_days                    6141
amoru                                6317
delivered_bundled_orders                0
delivered_orders_with_discount          0
sum_balance_discount_eur                0
average_rating                       3868
dtype: int64

In [60]:
# Verificamos si hay duplicados en el dataset
df_metrics.duplicated().sum()

53

In [61]:
# Verificamos si hay duplicados en el dataset
df_stores.duplicated().sum()

0

In [62]:
# Limpiamos el dataset de metrics
# Eliminamos duplicados
df_metrics.drop_duplicates(inplace=True)

# Comprobamos que se hayan eliminado los duplicados
df_metrics.duplicated().sum()

0

In [63]:
# Crear mÃ¡scaras para NaN y 0
mascara_nan = df_metrics.isna()  # MÃ¡scara para NaN
mascara_cero = df_metrics == 0  # MÃ¡scara para valores 0

# Combinamos ambas mÃ¡scaras (NaN o 0) para cada celda
mascara_combinada = mascara_nan | mascara_cero

# Contamos el nÃºmero de NaN o 0 en cada fila
conteo_nan_o_cero_por_fila = mascara_combinada.sum(axis=1)

# El umbral es el 50% de las columnas
umbral = 0.5 * df_metrics.shape[1]

# Filtrar filas con mÃ¡s del 50% de NaN o 0
filas_a_conservar = conteo_nan_o_cero_por_fila <= umbral

# Crear el DataFrame limpio
metrics_df_limpio = df_metrics[filas_a_conservar]

# VerificaciÃ³n: mostrar cuÃ¡ntas filas y columnas hay antes y despuÃ©s de la limpieza
print(f"Antes de la limpieza: {df_metrics.shape[0]} filas y {df_metrics.shape[1]} columnas.")
print(f"DespuÃ©s de la limpieza: {metrics_df_limpio.shape[0]} filas y {metrics_df_limpio.shape[1]} columnas.")

# Ver las primeras filas del DataFrame limpio
print("\nPrimeras filas del DataFrame limpio:")
metrics_df_limpio.head()

Antes de la limpieza: 51878 filas y 24 columnas.
DespuÃ©s de la limpieza: 47572 filas y 24 columnas.

Primeras filas del DataFrame limpio:

,store_id,month,is_food,total_orders,delivered_orders,bad_rating_orders,bad_rating_orders_due_to_courier,bad_rating_orders_due_to_partner,total_gmv,rpo_eur,...,delivery_time_below_30,delivery_time_below_45,users,recurrent_customers,retention_28_days,amoru,delivered_bundled_orders,delivered_orders_with_discount,sum_balance_discount_eur,average_rating
0,196105,2020-06,Yes,12,11,2,0,2.0,194.097000,5.532735,...,1,6,12,11,0.363636,1.000000,0,0,0.000,0.818182
2,194503,2020-06,Yes,14,13,1,0,1.0,131.805000,5.050955,...,6,12,10,8,0.692308,1.375000,0,0,0.000,0.923077
3,199178,2020-06,Yes,6,6,0,0,0.0,61.116386,3.448538,...,4,4,5,5,1.000000,1.200000,0,0,0.000,1.000000
4,194898,2020-06,Yes,14,13,0,0,0.0,231.159000,8.391913,...,9,13,13,12,0.923077,1.090909,0,12,52.686,1.000000
5,197338,2020-06,Yes,18,14,0,0,0.0,323.683500,9.720090,...,4,10,15,15,0.928571,1.000000,0,0,0.000,1.000000

In [64]:
# Sustituimos valores nulos por la moda o la media segÃºn corresponda

# Para columnas numÃ©ricas, sustituimos por la media
numeric_columns = metrics_df_limpio.select_dtypes(include=['float64', 'int64']).columns
metrics_df_limpio[numeric_columns] = metrics_df_limpio[numeric_columns].apply(lambda x: x.fillna(x.mean()))

# Para columnas categÃ³ricas, sustituimos por la moda
categorical_columns = metrics_df_limpio.select_dtypes(include=['object']).columns
metrics_df_limpio[categorical_columns] = metrics_df_limpio[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))

# Verificamos que no queden valores nulos
metrics_df_limpio.isnull().sum()

store_id                            0
month                               0
is_food                             0
total_orders                        0
delivered_orders                    0
bad_rating_orders                   0
bad_rating_orders_due_to_courier    0
bad_rating_orders_due_to_partner    0
total_gmv                           0
rpo_eur                             0
cpo_eur                             0
prep_time                           0
waiting_time                        0
delivery_time                       0
delivery_time_below_30              0
delivery_time_below_45              0
users                               0
recurrent_customers                 0
retention_28_days                   0
amoru                               0
delivered_bundled_orders            0
delivered_orders_with_discount      0
sum_balance_discount_eur            0
average_rating                      0
dtype: int64

In [65]:
# Guardamos el datest limpio
metrics_df_limpio.to_csv('metrics_clean.csv', index=False)

In [66]:
# Mostramos la info de cada dataset
metrics_df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47572 entries, 0 to 51930
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   store_id                          47572 non-null  int64
 1   month                             47572 non-null  object
 2   is_food                           47572 non-null  object
 3   total_orders                      47572 non-null  int64
 4   delivered_orders                  47572 non-null  int64
 5   bad_rating_orders                 47572 non-null  int64
 6   bad_rating_orders_due_to_courier  47572 non-null  int64
 7   bad_rating_orders_due_to_partner  47572 non-null  float64
 8   total_gmv                         47572 non-null  float64
 9   rpo_eur                           47572 non-null  float64
 10  cpo_eur                           47572 non-null  float64
 11  prep_time                         47572 non-null  float64
 12  waiting_time                      47572 non-null  float64
 13  delivery_time                     47572 non-null  float64
 14  delivery_time_below_30            47572 non-null  int64
 15  delivery_time_below_45            47572 non-null  int64
 16  users                             47572 non-null  int64
 17  recurrent_customers               47572 non-null  int64
 18  retention_28_days                 47572 non-null  float64
 19  amoru                             47572 non-null  float64
 20  delivered_bundled_orders          47572 non-null  int64
 21  delivered_orders_with_discount    47572 non-null  int64
 22  sum_balance_discount_eur          47572 non-null  float64
 23  average_rating                    47572 non-null  float64
dtypes: float64(11), int64(11), object(2)
memory usage: 9.1+ MB